@use '../base/variables' as *;
@use '../base/breakpoints' as *;

.info {
  padding: 228px 0 102px;
  background: url(../../assets/info-bg.webp) center center no-repeat;
  background-size: cover;

  @media (max-width: $breakpoint-lg) {
    padding: 200px 0 80px;
  }

  &__content {
    padding: 60px 56px;
    border-radius: 20px;

    max-width: 890px;
    font-size: 1.5rem;
    line-height: 1.5rem;
    background-color: rgba($color-content-primary, 0.2);

    @media (max-width: $breakpoint-md) {
      font-size: 1rem;
      line-height: 1rem;
      padding: 30px 30px;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 34px;
    color: $color-content-accent;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;

    font-size: 4rem;
    line-height: 3rem;
    font-weight: 700;
    color: $color-content-secondary;

    @media (max-width: $breakpoint-lg) {
      font-size: 3rem;
      line-height: 2.5rem;
    }
    @media (max-width: $breakpoint-lg) {
      font-size: 2rem;
      line-height: 2rem;
    }
  }

  &__caption {
    color: $color-background;
  }
}
