@use './base/fonts';
@use './base/breakpoints' as *;
@use './base/variables' as *;
@use './base/common';

@use './layout/header';
@use './layout/info';
@use './layout/services';
@use './layout/portfolio';
@use './layout/about';
@use './layout/flooring';
@use './layout/reviews';
@use './layout/support';
@use './layout/footer';


html {
  font-size: 16px;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
}

body {
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  background-color: $color-background;
}

.container {
  max-width: 1440px;
  padding: 0 100px;
  margin: 0 auto;

  @media (max-width: $breakpoint-lg) {
    padding: 0 40px;
  }
  @media (max-width: $breakpoint-md) {
    padding: 0 20px;
  }
}
