$color-background: #f5f7fb;

$color-content-nav: #181818;
$color-content-primary: #000;
$color-content-secondary: #fff;
$color-content-light: #666;
$color-content-accent: #4f46e5;

$color-bg-card: #fff;
$color-bg-flooring-section: #2b23a6;

$color-navigation: #666;
$color-navigation-active: #4f46e5;
$color-scrollbar: #666;
$color-scrollbar-drag: #4f46e5;
